In [2]:
import pandas as pd

In [8]:
df_stop = pd.read_csv("data/MBTA_GTFS/stop_times_trunc.txt")
df_stop.head()

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,timepoint,checkpoint_id
0,42509838,24:30:00,24:30:00,70036,1,NaN,0,1,1.0,NaN
1,42509838,24:32:00,24:32:00,70034,10,NaN,0,0,1.0,NaN
2,42509838,24:35:00,24:35:00,70032,20,NaN,0,0,1.0,NaN
3,42509838,24:37:00,24:37:00,70278,30,NaN,0,0,1.0,NaN
4,42509838,24:40:00,24:40:00,70030,40,NaN,0,0,1.0,NaN

In [12]:
len(df_stop.trip_id.unique())

105

In [13]:
len(df_stop.stop_id.unique())

44

In [3]:
df_trips = pd.read_csv("data/MBTA_GTFS/trips.txt")
df_trips.head()

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,route_id,service_id,trip_id,trip_headsign,trip_short_name,direction_id,block_id,shape_id,wheelchair_accessible,trip_route_type,route_pattern_id,bikes_allowed
0,1,BUS12020-hbc10011-Wdy-02,42844652,Harvard,NaN,0,C01-10,010070,1,NaN,1-_-0,1
1,1,BUS12020-hbc10011-Wdy-02,42844654,Harvard,NaN,0,C01-10,010070,1,NaN,1-_-0,1
2,1,BUS12020-hbc10011-Wdy-02,42844656,Harvard,NaN,0,C01-14,010070,1,NaN,1-_-0,1
3,1,BUS12020-hbc10011-Wdy-02,42844657,Harvard,NaN,0,C01-14,010070,1,NaN,1-_-0,1
4,1,BUS12020-hbc10011-Wdy-02,42844658,Harvard,NaN,0,C01-10,010070,1,NaN,1-_-0,1

In [4]:
df_trips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69186 entries, 0 to 69185
Data columns (total 12 columns):
route_id                 69186 non-null object
service_id               69186 non-null object
trip_id                  69186 non-null object
trip_headsign            69186 non-null object
trip_short_name          1271 non-null object
direction_id             69186 non-null int64
block_id                 67915 non-null object
shape_id                 69186 non-null object
wheelchair_accessible    69186 non-null int64
trip_route_type          1672 non-null float64
route_pattern_id         69186 non-null object
bikes_allowed            69186 non-null int64
dtypes: float64(1), int64(3), object(8)
memory usage: 6.3+ MB